*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
    font-family: poppins;
}
.container{
    background: linear-gradient(to right, #006400, #008080, #0000FF);
    width: 100%;
   min-height: 100vh;
   padding: 10px;
}
.to-do-list{
    width:100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.1);
    
}
.to-do-list h2{
    color: #002765;
    display:flex ;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-list h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
#btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #09a709;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('/images/radio\ \(1\).png'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%); /* Center the pseudo-element vertically */
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(/images/accept.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: #f0f3f7;

}
